$main-blue: #5683c4;
$main-blue-light: #9ab5dc;
$main-blue-lighter: #c2d3ea;
$main-blue-lightest: #e5f3ff;
$main-blue-dark: #37609d;
$main-blue-darker: #244069;
$main-red: #d76463;
$main-red-light: #e18b8a;
$main-red-dark: #bb3130;
$main-green: #46a365;
$main-green-light: #6ec189;
$main-green-dark: #357a4c;
$gray-lighter: #f3f3f3;
$gray-light: #e6e6e6;
$gray: #d2d2d2;
$gray-dark: #c6c6c6;
$gray-darker: #b1b1b1;
$gray-darkest: #727272;
$main-yellow: #f2d06d;
$main-orange: #f29436;
