.btnDiv {
    float: left;
    height: 100%;
}

.btn {
    cursor: pointer;
    float: left;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    transition: all 0.1s;
}

.btnEdit {
    min-width: 40px;
    font-size: inherit;
    line-height: 35px;
    text-align: center;
    color: var(--gray-darkest);
}

.btnEdit:hover {
    background: var(--gray-dark);
}

.btnInput {
    display: none;
}

.btnInput:checked+.btnEdit {
    background: var(--gray-dark);
}

.btnInput:active+.btnEdit {
    background: var(--gray-darker);
}

.btnEdit:hover .dropdownContent {
    display: block;
}

.dropdownContent {
    width: 100px;
    display: none;
    position: absolute;
    float: left;
    background: var(--gray-lighter);
    border: 1px solid var(--gray-dark);
    box-shadow: 0px 0px 10px 0px var(--gray-darker);
    z-index: 1;
}

.dropdownLabelFFamily {
    display: inline-block;
    width: 160px;
}

.dropdownLabelFSize {
    display: inline-block;
    width: 40px;
}

.btnDrop {
    width: calc(100% - 2px);
    height: 25px;
    font-size: 11pt;
    color: inherit;
    margin: 1px;
}

.btnDrop:hover {
    background: var(--gray-dark);
}

.btnDrop:active {
    background: var(--gray-darker);
}

.btnDropColor {
    width: 18px;
    height: 18px;
    margin: 1px;
    border: 1px solid var(--gray-dark);
}

.btnDropColor:hover {
    border: 1px solid var(--main-yellow);
    outline: 1px solid var(--main-orange);
}

.btnDropColor:active {
    border: 1px solid var(--main-yellow);
    outline: 2px solid var(--main-orange);
}

.fgcContent {
    width: 200px;
}

.familyContent {
    width: 200px;
}


.btnUpload {
    float: left;
    background: var(--gray);
    color: var(--gray-darkest);
    text-align: center;
    line-height: 35px;
    width: 50px;
}

.btnUpload:hover {
    color: white;
    background: var(--main-blue);
}

.btnUpload:active {
    color: white;
    background: var(--main-blue-dark);
}

.btnConfirm {
    float: right;
    width: 80px;
    transition: all 0.1s;
    font-size: 11pt;
    background: none;
    color: var(--main-green);
}

.btnConfirm:hover {
    color: white;
    background: var(--main-green-light);
}

.btnConfirm:active {
    color: white;
    background: var(--main-green);
}

.btnCancel {
    float: right;
    background: none;
    color: var(--main-red);
    font-size: 11pt;
    transition: all 0.1s;
    width: 80px;

}

.btnCancel:hover {
    color: white;
    background: var(--main-red-light);
}

.btnCancel:active {
    color: white;
    background: var(--main-red);
}

.btnFileSelect {
    width: 100%;
    background: none;
    color: var(--gray-darkest);
    font-size: 12pt;
    transition: all 0.1s;
}

.btnFileSelect:hover {
    background: var(--gray-dark);
}

.btnFileSelect:active {
    background: var(--gray-darker);
}
