.btn {
    cursor: pointer;
    float: left;
    height: 100%;
    outline: none;
    border: none;
    text-decoration: none;
    display: block;
}

.btnEdit {
    width: 40px;
    line-height: 100%;
    font-size: 12pt;
    transition: all 0.1s;
    background: var(--main-blue);
    color: white;
    border: 0px solid var(--main-blue-dark);
}

.btnEdit:hover {
    line-height: calc(100% - 3px);
    background: var(--main-blue-light);
    border-bottom: 3px solid var(--main-blue-dark);
    color: var(--main-blue-dark);
}

.btnEdit:active {
    border-bottom: 0px solid var(--main-blue-dark);
    line-height: 100%;
}

.btnUpload {
    float: left;
    background: var(--main-blue-darker);
    color: white;
    line-height: 100%;
    width: 50px;
    transition: all 0.3s;
    margin-right: 5px;
    padding: 0;
}

.btnUpload:hover {
    background: var(--main-blue-dark);
}

.btnUpload:active {
    padding-top: -5px;
    padding-bottom: 5px;
}

.btnConfirm {
    float: right;
    width: 80px;
    color: white;
    line-height: calc(100% - 5px);
    transition: all 0.1s;
    font-size: 11pt;
    background: var(--main-blue-darker);
    border-bottom: 5px solid var(--main-green-light);
}

.btnConfirm:hover {
    background: var(--main-green-light);
    border-bottom: 5px solid var(--main-green);
}

.btnConfirm:active {
    line-height: 100%;
    border-bottom: 0px solid var(--main-green);
}

.btnCancel {
    float: right;
    background: var(--main-blue-darker);
    color: white;
    font-size: 11pt;
    line-height: calc(100% - 5px);
    transition: all 0.1s;
    width: 80px;
    border-bottom: 5px solid var(--main-red-light);
}

.btnCancel:hover {
    background: var(--main-red-light);
    border-bottom: 5px solid var(--main-red);
}

.btnCancel:active {
    border-bottom: 0px solid var(--main-red);
    line-height: 100%;
}

.btnDropdown {
    height: 35px;
}

.btnFileSelect {
    width: 100%;
    line-height: calc(100% - 5px);
    border-bottom: 5px solid var(--main-green-light);
    background: var(--main-blue-darker);
    color: white;
    font-size: 12pt;
    transition: all 0.1s;
}

.btnFileSelect:hover {
    background: var(--main-green-light);
    border-bottom: 5px solid var(--main-green);
}

.btnFileSelect:active {
    line-height: 100%;
    border-bottom: 0px solid var(--main-green);
}
