.btn {
    cursor: pointer;
    float: left;
    height: 100%;
    outline: none;
    border: none;
}

.btnEdit {
    width: 40px;
    font-size: inherit;
    transition: all 0.1s;
    background: none;
    color: var(--gray-darkest);
}

.btnEdit:hover {
    background: var(--gray-dark);
}

.btnEdit:active {
    background: var(--gray-darker);
}

.btnUpload {
    float: left;
    background: var(--gray);
    color: var(--gray-darkest);
    width: 50px;
    transition: all 0.1s;
    padding: 0;
}

.btnUpload:hover {
    color: white;
    background: var(--main-blue);
}

.btnUpload:active {
    color: white;
    background: var(--main-blue-dark);
}

.btnConfirm {
    float: right;
    width: 80px;
    transition: all 0.1s;
    font-size: 11pt;
    background: none;
    color: var(--main-green);
}

.btnConfirm:hover {
    color: white;
    background: var(--main-green-light);
}

.btnConfirm:active {
    color: white;
    background: var(--main-green);
}

.btnCancel {
    float: right;
    background: none;
    color: var(--main-red);
    font-size: 11pt;
    transition: all 0.1s;
    width: 80px;

}

.btnCancel:hover {
    color: white;
    background: var(--main-red-light);
}

.btnCancel:active {
    color: white;
    background: var(--main-red);
}

.btnDropdown {
    margin-top: 1px;
    margin-bottom: 1px;
    height: 25px;
    width: calc(100% - 2px);
    margin-left: 1px;
    font-size: 11pt;
}

.btnFileSelect {
    width: 100%;
    background: none;
    color: var(--gray-darkest);
    font-size: 12pt;
    transition: all 0.1s;
}

.btnFileSelect:hover {
    background: var(--gray-dark);
}

.btnFileSelect:active {
    background: var(--gray-darker);
}


.btnColor {
    height: 25px;
    width: 98%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1%;
    background: none;
}

.btnColor:hover div {
    border: 1px solid var(--main-yellow);
    outline: 1px solid var(--main-orange);
}

.btnColor:active div {
    border: 1px solid var(--main-yellow);
    outline: 2px solid var(--main-orange);
}
