.navBar {
    height: 35px;
    width: 100%;
    background: var(--gray-lighter);
    font-size: 12pt;
}

.editBar {
    height: 35px;
    width: 100%;
    background: var(--gray-lighter);
    border-bottom: 1px solid var(--gray);
    font-size: 12pt;
}

.contentContainer {
    height: calc(100% - 71px);
    width: 100%;
    overflow-y: auto;
    background: var(--gray-light);
}

.contents {
    height: calc(100% - 4px);
    width: 100%;
    background: white;
    outline: none;
    border: none;
}

.dropdown {
    height: 100%;
    width: 40px;
    color: var(--gray-darkest);
    line-height: 36px;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: inherit;
    transition: all 0.1s;
}

.dropdown:hover {
    background: var(--gray-dark);
}

.dropdownContent {
    width: 100px;
    display: none;
    position: absolute;
    float: left;
    background: var(--gray-lighter);
    border: 1px solid var(--gray-dark);
    box-shadow: 0px 0px 10px 0px var(--gray-darker);
    z-index: 1;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.contentFonts {
    width: 200px;
}

.btnULine {
    line-height: 36px;
}

.btnSub {
    line-height: 40px;
    font-size: 13pt;
}

.btnSup {
    padding-bottom: 4px;
    font-size: 13pt;
}

.fontColorIcon {
    height: calc(100% - 8px);
    width: calc(100% - 2px);
    border: 1px solid var(--gray-dark);
    display: block;
}
