.headerBar {
    width: 100%;
    height: 20px;
    background: var(--main-blue);
    float: left;
}

.inputContainer {
    width: 100%;
    height: calc(100% - 70px);
    padding-top: 10px;
    padding-bottom: 5px;
    float: left;
}

.buttonsContainer {
    width: 100%;
    height: 35px;
    background: var(--main-blue);
    float: left;
}

.inputs {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 5px;
}

.inputs label {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    font-size: inherit;
}

.inputs input {
    width: 50%;
    display: inline-block;
    float: left;
    font-size: inherit;
    border: 1px solid var(--main-blue);
    padding: 5px;
}

.inputs input:focus {
    outline: 2px solid var(--main-blue);
}

.inputs textarea {
    width: calc(100% - 40px);
    height: 170px;
    resize: none;
    outline: none;
    border: 1px solid var(--main-blue);
    padding: 5px;
    font-family: inherit;
}

.inputs textarea:focus {
    outline: 2px solid var(--main-blue);
}
