.titleContainer {
    background: var(--gray-light);
    color: var(--gray-darkest);
    border-bottom: 1px solid var(--gray-dark);
    width: calc(100% - 10px);
    height: 20px;
    float: left;
    padding: 5px;
}

.fileTreeContainer {
    height: calc(100% - 112px);
    width: 100%;
    background: none;
    color: black;
    float: left;
    overflow: auto;
}

.fileContainer {
    background: none;
    white-space: nowrap;
    font-size: 14pt;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
}

.fileContainer input {
    display: none;
}

.infoContainer {
    height: 80px;
    width: calc(100% - 320px);
    background: var(--gray-light);
    border-top: 1px solid var(--gray-dark);
    float: left;
}

.buttonContainer {
    background: var(--gray-light);
    border-top: 1px solid var(--gray-dark);
    width: 320px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.inputsContainer {
    text-align: center;
    width: 100%;
    height: 100%;
    float: left;
}

.inputs {
    height: 50%;
    width: 100%;
    color: var(--gray-darkest);
}

.serverFileSelect {
    margin-top: 8px;
    width: 60%;
    font-size: 12pt;
    border: 1px solid var(--gray-darker);
    padding: 2px;
}

.serverFileSelect:focus {
    outline: 2px solid var(--gray-darker);
}

.fileCheck:checked .fileCheck::parent {
    background: gray;
}

.folder+label {
    padding: 5px;
    cursor: pointer;
}

.folder:hover+label {
    background: var(--main-blue-lightest);
}

.folder+label:before {
    font-family: FontAwesome;
    content: "\f07b\ ";
    color: var(--main-yellow);
}

.folder:checked+label:before {
    content: "\f07c\ ";
}

input[type=radio]+label {
    padding: 5px;
    cursor: pointer;
}

.texts+label:before {
    font-family: FontAwesome;
    content: "\f15c\ ";
    color: var(--gray-darkest);
}

.normal+label:before {
    font-family: FontAwesome;
    content: "\f15b\ ";
    color: var(--gray-darkest);
}

.xfiles+label:before {
    font-family: FontAwesome;
    content: "\f1c3\ ";
    color: var(--gray-darkest);
}

input[type=radio]:hover+label {
    background: var(--main-blue-lightest);
}

input[type=radio]:checked+label {
    background: var(--main-blue-lightest);
}

.audios+label:before {
    font-family: FontAwesome;
    content: "\f1c7\ ";
    color: var(--gray-darkest);
}

.codes+label:before {
    font-family: FontAwesome;
    content: "\f1c9\ ";
    color: var(--gray-darkest);
}

.imgs+label:before {
    font-family: FontAwesome;
    content: "\f1c5\ ";
    color: var(--gray-darkest);
}
