@import '../../assets/scss/colors.scss';

.docBar {
    height: 35px;
    width: 100%;
    background: $gray-lighter;
    border-bottom: 1px solid $gray;
    font-size: 12pt;
}

.editBar {
    height: 35px;
    width: 100%;
    background: $gray-lighter;
    border-bottom: 1px solid $gray;
    font-size: 12pt;
}

.contentContainer {
    height: calc(100% - 72px);
    width: 100%;
    overflow-y: auto;
    background: $gray-light;
}

.contents {
    height: calc(100% - 4px);
    width: 100%;
    background: white;
    outline: none;
    border: none;
}

.contentsSource {
    margin-top: 50px;
    min-height: calc(100% - 154px);
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: 1px solid $gray-dark;
    white-space: pre-wrap;
    font-size: 11pt;
    user-select: none;
    word-wrap: break-word;
    margin-bottom: 50px;
}
