@import '../../assets/scss/colors.scss';

.inputContainer {
    width: 100%;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.buttonsContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: $gray-light;
    border-top: 1px solid $gray-dark;
}

.inputDiv {
    width: 100%;
    float: left;
    text-align: center;
    background: none;
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputLabel {
    display: inline-block;
    font-size: inherit;
    width: 25%;
    text-align: right;
    padding: 5px;
    float: left;
}

.promptInput {
    display: inline-block;
    font-size: inherit;
    width: 50%;
    float: left;
    border: 1px solid $gray-darker;
    padding: 5px;
}

.promptInput:focus {
    outline: 2px solid $gray-darker;
}

.promptTa {
    font-size: inherit;
    font-family: inherit;
    resize: none;
    width: 50%;
    float: left;
    margin-left: calc(25% + 10px);
    padding: 5px;
    height: 250px;
    border: 1px solid $gray-darker;
}

.promptTa:focus {
    outline: 2px solid $gray-darker;
}

.promptSelect {
    float: left;
    width: 50%;
    padding: 5px;
    font-size: inherit;
}
