@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

.expImg input {
    display: none;
}

.expImg input+label img {
    cursor: pointer;
    width: 200px;
    transition: all 0.3s;
}

.expImg input:checked+label img {
    width: 300px;
}
