.fileTreeContainer {
    height: calc(100% - 112px);
    width: 100%;
    background: none;
    color: black;
    float: left;
    overflow: auto;
}

.fileContainer {
    background: none;
    white-space: nowrap;
    font-size: 14pt;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
}

.fileContainer input {
    display: none;
}

.folderIcon {
    color: var(--main-yellow);
}

.fileIcon {
    color: var(--gray-darkest);
}

input+label {
    padding: 5px;
    cursor: pointer;
}

input:hover+label {
    background: var(--main-blue-lightest);
}

input[type=radio]:checked+label {
    background: var(--main-blue-lightest);
}
