<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Options</title>
        <link rel="stylesheet" href="./css/main.css" type="text/css">
        <link rel="stylesheet" href="./css/button.css" type="text/css">
        <link rel="stylesheet" href="./css/prompt.css" type="text/css">
        <script src="./js/vue.js"></script>
    </head>
    <body>
        <div id="promptApp" class="appContainer">
            <div class="headerBar">{{ title }}</div>
            <div class="inputContainer" ref="inputContainer">
                <div class="inputDiv" v-for="input in inputs">
                    <span class="inputLabel" v-if="input.type != 'textarea'">{{ input.name }}</span>
                    <input v-if="input.type == 'input'" :type="input.inputType" :ref="input.name" class="promptInput" :placeholder="input.placeholder"></input>
                    <textarea v-if="input.type == 'textarea'" :ref="input.name" class="promptTa" :placeholder="input.placeholder"></textarea>
                    <select v-if="input.type == 'select'" :ref="input.name" class="promptSelect">
                        <option v-for="option in input.options">{{ option }}</option>
                    </select>
                </div>
            </div>
            <div class="buttonsContainer">
                <button class="btn btnCancel" v-on:click="cancelOption()">Cancel</button>
                <button class="btn btnConfirm" v-on:click="confirmOption()">Confirm</button>
            </div>
        </div>
    </body>
    <script>
        require('./renderer-prompt.js')
    </script>
</html>
