<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Upload</title>
        <link rel="stylesheet" href="./css/main.css" type="text/css">
        <link rel="stylesheet" href="./css/button.css" type="text/css">
        <link rel="stylesheet" href="./css/upload.css" type="text/css">
        <script src="./js/vue.js"></script>
        <script src="./js/fontawesome-all.js"></script>
    </head>
    <body>
        <div id="uploadApp" class="appContainer">
            <div class="titleContainer">Server Files</div>
            <div class="fileTreeContainer">
                <div v-for="item in fileTreeData" v-if="selectionData[item.parent]" class="fileContainer">
                    <span v-html="item.spaces"></span>
                    <input :type="item.inputType" :id="item.path" :value="item.value" v-model="selectionData[item.model]"></input>
                    <label :for="item.path" v-html="item.name"></label>
                </div>
            </div>
            <div class="infoContainer">
                <div class="inputsContainer">
                    <div class="inputs">
                        <i class="fas fa-file"></i> File to Replace: <input class="serverFileSelect" v-model="selectionData['selectedFile']"></input>
                    </div>
                    <div class="inputs">
                        <button class="btn btnFileSelect" v-on:click="fileSelect()"><i class="far fa-file"></i> File to Upload:  {{ this.localFilePath || "Select File" }}</button>
                    </div>
                </div>
                <div class="buttonContainer">
                    <button class="btn btnCancel" v-on:click="closeWindow()">Cancel</button>
                    <button class="btn btnConfirm" v-on:click="uploadFile()"><i class="fas fa-upload"></i> Upload</button>
                    <button class="btn btnConfirm" v-on:click="reloadFileTree()"><i class="fas fa-sync-alt"></i> Reload</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        require('./renderer-upload.js')
    </script>
</html>
