@import '../colors.scss';


%dropdown-content {
    float: left;
    position: absolute;
    top: 35px;
    z-index: 1;
    display: none;
    background: $gray-lighter;
    border: 1px solid $gray-dark;
    box-shadow: 0px 0px 10px 0px $gray-darker;
    padding: 0;
    margin: 0;
}
